# Flask
FLASK_ENV=development

# JWT
JWT_SECRET_KEY=<JWT_SECRET_KEY>

# Database
DATABASE_URL=sqlite:///tasks.db

# Redis
RATELIMIT_STORAGE_URI=redis://localhost:6379

# CORS
CORS_ORIGINS=http://localhost:3000
CORS_SUPPORTS_CREDENTIALS=True
